.content-right {
  overflow-y: initial;
  flex-direction: column;
}

.form-wrapper {
  width: 500px;
  margin-bottom: 80px;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.upload-form {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px dashed #434bdf;
  border-radius: 5px;
}
.upload-form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: aqua;
  height: 200px;
  outline: none;
  opacity: 0;
}

.upload-form button{
  margin: 0;
  color: #fff;
  border: none;
  width: 100%;
  height: 40px;
  margin-top: -20px;
  border-radius: 4px !important;
  transition: all .2s ease;
  outline: none;
}

.upload-form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #000;
  font-family: Arial;
}

a.btn_1.rounded, .btn_1.rounded {
  border-radius: 5px !important;
}

@media only screen and (max-width: 1100px) {
  .form-wrapper {
    width: 400px;
  }
}