body {
  font-family: 'Open Sans', sans-serif;
}

.header-left-col {
  padding-left: 20px;
}

.header-user {
  position: absolute;
  top: 0;
  width: 100%;
}
.header-user p {
  margin: 0;
  display: inline-block;
}

.title {
  display: inline-block;
  margin: 0;
  font-size: 2em;
  vertical-align: middle;
  margin-left: 8px;
}
.title-light {
  color: #fff;
}

.content-right {
  flex-direction: column;
}

.form-wrapper {
  width: 500px;
  margin-bottom: 80px;
}

/* Recent Links */
.center {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card {
  background: #fff;
  width: 140px;
  height: 120px;
  margin: 0 6px;
  box-shadow: 0 2px 0 -1px #bdbdbd, 0 4px 0 -2px #bdbdbd, 0 0 2px #bdbdbd;
  border-radius: 2px 2px 0 0;
  margin-bottom: 16px;
  display: inline-block;
  transition: all 0.5s ease-out;
}
.card:hover {
  box-shadow: 0 2px 0 -1px #bdbdbd, 0 4px 0 -2px #bdbdbd, 0 0 2px #bdbdbd, 0 8px 16px #bdbdbd;
}
.card:active {
  background: #e0ebff;
  transition: all 0.2s;
  box-shadow: 0 2px 0 -1px #9e9e9e, 0 4px 0 -2px #9e9e9e, 0 0 2px #9e9e9e, 0 8px 16px #9e9e9e;
}
.card p {
  background: #e0e0e0;
  margin: 0;
  padding: 6px;
  font-size: 12px;
  transition: all 0.2s;
}
.card:active p {
  box-shadow: 0 4px 4px -4px #9e9e9e;
  background: #e0e0e0;
}
.placeholder {
  width: 100%;
  height: 72px;
  overflow: hidden;
  margin-top: 8px;
  border-radius: 4px;
}
.img-preview,
.icon-preview {
  display: block;
  width: 146px;
  height: auto;
  transition: all 0.2s ease-in-out;
}
.icon-preview {
  width: 72px;
}
.img-preview:active {
  background: #eee;
  box-shadow: 0 2px 8px #9e9e9e;
}
.card-btns {
  top: -18px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 6px;
}
.card-btn {
  padding: 5px 8px;
  margin: 0 3px;
  font-size: .8em;
  /* position: absolute; */
}
/* End Recent Links */


/* Stats block */
.block-stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.block-stats p {
  margin: 0;
  display: inline-block;
  margin-left: 5px;
  text-shadow: -1px 0px 2px black;
}
.block-stats p:first-child {
  margin-left: 4px;
}
.stats-outer {
  position: relative;
  margin: 10px;
  border-radius: 5px;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a4550, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a4550, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.progress-bar {
  display: block;
  background-color: #434bdf;
}
.progress-bar-animated {
  animation-direction: reverse;
}
/* End Stats block */

.upload-form {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px dashed #434bdf;
  border-radius: 5px;
}
.upload-form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: aqua;
  height: 200px;
  outline: none;
  opacity: 0;
}

.upload-form button{
  margin: 0;
  color: #fff;
  border: none;
  width: 100%;
  height: 40px;
  margin-top: -20px;
  border-radius: 4px !important;
  transition: all .2s ease;
  outline: none;
}

.upload-form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #000;
  font-family: Arial;
}

a.btn_1.rounded, .btn_1.rounded {
  border-radius: 5px !important;
}

.bold {
  color: #000;
  font-weight: bold;
}

@media only screen and (max-width: 1100px) {
  .form-wrapper {
    width: 95%;
  }
  .card {
    width: 120px;
    height: 100px;
  }
  .placeholder {
    height: 52px;
  }
  .icon-preview {
    width: 52px;
  }
  .card p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .form-wrapper {
    width: 100%;
    margin-top: 40px;
  }
  .block-stats {
    position: relative;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .stats-outer {
    margin: 0;
    margin-top: 10px;
  }
  .title {
    font-size: 1.5em;
  }
}